<div class="likes"> 
	<% if (collection.length === 1){ %>
		<a class="liker" href="#users/<%= collection.models[0].id %>"> <%= collection.models[0].get('username') %></a> likes this!
	<% } else if (collection.length === 2){ %>
		<a class="liker" href="#users/<%= collection.models[0].id %>"><%= collection.models[0].username %></a>
		and <a class="liker" href="#users/<%= collection.models[1].id%>"> <%= collection.models[1].username %></a> like this!
	<%} else if (collection.length === 3){%>
		<% var prev = collection.slice(0, 3) %>
		<% _.each(prev, function(liker, i){ %>
			<% if (i < 2) { %>
				<a href='#users/<%= liker.id%>'> <%= liker.username %></a>,
			<% } else { %>
				<% if (i === 2){ %>
					and
				<% } %>
			<a href='#users/<%= liker.id%>'> <%= liker.username %></a>
			<% } %>
		<% }) %> like this.
				<%} else if (collection.length === 0 ){%>
					Be the first to like this!
				<% }else { %>
				<% } %>
 </div>