<div class="comment">
	<img class='comment-profile-photo' src='<%= comment.escape('profile_pic')%>'>
	<span class='cmt-username'>
		<a href='#users/<%= comment.escape("user_id")%>'><%= comment.escape("username")%></a>:
	</span>
	<%= comment.escape("body") %>

	<% if (comment.escape("user_id") == CURRENT_USER_ID){ %>
		<div data-id="<%= comment.escape("id")%>" class='delete-comment'>
			<button type="button" class="close delete-cmt"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		</div>
	<% } %>
</div>