<div class="singular-photo-wrapper">
	<div class="photo-display list-group-item">
		<img class= 'feed-photo-img' src="<%= photo.get('filepicker_url') %>">
		<div class="comment-details-pane list-group-item">
			<div class="photo-comments">
			</div>
		<div class="private-pane">
			<div class="like-button">
				<i class=" fav-btn fa fa-heart"></i>
			</div>
			<div class="like-heart">
			</div>
			<div class="photo-likes">
			
			<div class="likes ind-likes"> 
				<% if (collection.length === 1){ %>
					1 person likes this!
				<% } else if (collection.length > 1){ %>
					<%= collection.length %> people like this!
				<%} else {%>
					Be the first to like this!
				<%}%>
			 </div>
			</div>
		</div>

	<form class='new-comment photo-page-comment-form'>
  <div class="form-group">
    <input type="comment" name="comment[body]" class="form-control" placeholder="Write a comment...">
	  </div>
	  <input type="hidden" name="comment[user_id]" value="<%= CURRENT_USER_ID %>">
	  <input type="hidden" name="comment[photo_id]" value="<%= photo.id %>">
	</form>

	</div>
		<div class="author-options">
		<% if (photo.get("user_id") === CURRENT_USER_ID){ %>
			<button class='delete-photo-btn'> Delete </button>
		<% } %>
		<a class='back-link' href='#users/<%= photo.get("user_id")%>'> Back to gallery </a>
		</div>
	</div>
</div>