<!DOCTYPE html>
<html>
<head>
  <title>Kittenstagram</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,user-scalable=no">
	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:700' rel='stylesheet' type='text/css'>
  <script>
  (function(a){if(window.filepicker){return}var b=a.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===a.location.protocol?"https:":"http:")+"//api.filepicker.io/v1/filepicker.js";var c=a.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d={};d._queue=[];var e="pick,pickMultiple,pickAndStore,read,write,writeUrl,export,convert,store,storeUrl,remove,stat,setKey,constructWidget,makeDropPane".split(",");var f=function(a,b){return function(){b.push([a,arguments])}};for(var g=0;g<e.length;g++){d[e[g]]=f(e[g],d._queue)}window.filepicker=d})(document);

  filepicker.setKey("Ao7feED0vTQpo2ZBCV7nZz");
  </script>
</head>
  <%= render partial: "layouts/header" %>
<body>
	<%= yield %>


</body>

<script>
<% if current_user %>
CURRENT_USER_ID = <%= current_user.id %>
<% end %>
</script>
</html>
